* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e7e7;
}

.header {
    overflow: hidden;
    background-color: rgba(178, 182, 182, 0.3);
    padding: 10px 5px;
    z-index: 6;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.logo{
    font-family: 'Kaushan Script', cursive;
}

.container {
    border-collapse: collapse;
    height: 575px;
    background-color: #0d47a1;
     width: 100%;
     top: 0%;
     border: none;
}


.form {
    float: right;
    height: 100%;
    width: 40%;
}



.form a{
    margin: 50px;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 50px;
    line-height: 25px;
    border-radius: 4px;
}

.form a:hover {
    background-color: rgb(230, 100, 100);
    color: black;
}

.form a.active {
    background-color: dodgerblue;
    color: white;
}
.content {
    height: 100%;
    width: 60%;
    float: left;
    
    
    /* height: 100%;
    width: 49%;
    float: right; */
}


.content h3 {
    font-size: 30px;
    font-family: 'Francois One',
        sans-serif;
}

#slider {
    /* margin-left: 10px;
    margin-top: -10px; */
    position: relative;
    width: 100%;
    height: 100px;
}

#slider img {
   
    width: 100%;
    height: 450px;
    position: absolute;
}

#tittle{
color: white; 
margin-top:70px;
font-family: 'Roboto', sans-serif;
padding:20px;
text-align:left; 

}

#title-home{
margin-top:500px;
}

#tittle h2{
    font-size: 50px;
    font-weight: bold;
    
}
#tittle p{
    font-size: 20px;
}

.box-cari{
    margin: 20px auto;
    padding:20px 5px;
    height: 100%;
    width: 80%;
    margin-left: 60px;
}

 

.form-search{
    border: 1px solid #eee;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    outline: none;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: inherit;
    display: block;
    padding: 8px;
    padding-left: 30px;
    width: 80%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 50px; */
    /* background-color: rgba(178, 182, 182, 0.9); */
}

form,form .input-icon{width: 100%; }
form .input-icon{position: relative;}

.form-search+i{
    position: absolute;
    left: 7px;
    top: 10px;
    color: #777;
}

.btn-submit{
    padding: 12px 10px;
    border: 0px solid #cdcdcd;
    background-color: #47cd1a;
    color: #ffff;
    font-family: inherit;
    float: right;
    margin-right:100px;
}

.btn-submit input{
    background-color:#47cd1a;
    border: none;
}
/* .box-cari img{
    margin: 0px 0px -15px 0px;
    height: 40px;
    width: 40px;
} */

/* .box-cari i{
   font-size: 35px;
} */

.box-view {
    border-collapse: collapse;
    width: 90%;
    margin: 70px;
    border: 2px solid #4CAF50; /* Green */
}

.box-view tr:nth-child(even) {background-color: #ffffff;}

th,
td {
    text-align: left;
    padding: 8px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pesan{
    cursor: pointer;
  background-color: #4caf50;
  margin-left: 30px;
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: sans-serif;
}


#search{
    margin-top: 10px;
    height: 200px;
    width: 90%;
    border-radius: 2px;
    background-color: #0d47a1;
    padding: 20px 70px;
    color: white;
    margin: 60px;
}



#search h2{
font-size: 40px;
margin-top: -30px;


}

#search p{
    font-size: 20px;
}



.info-title{
    padding: 1px 20px;
    width: 100%;
    height: 50px;
    background-color: #0d47a1;
}

.info-title h3{
    font-size: 20px;
}

.table-info{
    height: 100%;
    width: 100%;
    
}

.table-info td td{
    width: 100%;
    font-size: 15px;
}

.table-info input{
     border: 1px solid rgb(5, 4, 4);
    border-radius: 2px;
    color: rgb(0, 0, 0);
    outline: none;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: inherit;
    display: block;
    padding: 8px;
    padding-left: 30px;
    width: 80%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("../icon/index-user.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 1px rgb(7, 7, 7);
   font-stretch: extra-expanded;
}


.hero-image button{
    border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.hero-image button span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hero-image button:after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hero-image button:hover span {
  padding-right: 25px;
}

.hero-image button:hover span:after {
  opacity: 1;
  right: 0;
}

/* .action{
    height: 300px;
    width: 100%;
    background-color: #009be8;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.action h2{
    font-size: 40px;
    font-weight: bold;
}

.action p{
    font-size: 20px;
}

.action input{
    margin-top: 20px;
    margin-bottom:20px;
    border: 1px solid #eee;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    outline: none;
    font-size: inherit;
    display: block;
    padding: 15px;
    padding-left: 30px;
    width: 40%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.action button{
    margin-left: 100px;
    padding: 12px 10px;
    border: 0px solid #cdcdcd;
    background-color: #47cd1a;
    color: #ffff;
    font-family: inherit;
    margin-right:100px;
} */


footer {
  background-color: #0d47a1;
  padding: 1em 0;
 }

  footer nav ul {
  margin-top:0.5em;
 }
 
 footer nav ul li {
  display:inline;
  margin:0;
 }

  footer nav ul li a {
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;
  margin:0 1em 0 0;
  font-size:1em;
 }

 footer img {
  float:right;
 }
 
 footer p {
     float: right;
  color:#fff;
  line-height: 1;
  text-transform: uppercase;
  font-size:0.7em;
  margin-top: -30px;
 }

.flex-container {
    justify-content: center;
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  margin:10px;
  padding:20px;

}

.flex-container > div {
  color: rgb(0, 0, 0);
  width: 100px;
  margin: 0 auto;
  transition: transform .2s;
   padding: 30px;
}

/* .flex-container > div:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  /* -webkit-transform: scale(1.1); /* Safari 3-8 */
  /* transform: scale(1.1); 
} */ */ */

#flex-container-cart{
 display: flex;
 float: right;
}

.btn-abang-cart{
    height: 40px;
    width: 100px;
    margin: 3px;
    margin-right:10px; 
}

.kotak-cart{
   
    margin-top: 10px;
    padding: 20px;
    border-collapse: collapse;
    width:100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.kotak-cart th, td {
  text-align: left;
  padding: 8px;
}



th {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.cart{
    padding: 4%;
    height: 100%;
    width: 70%;
    margin: 200px;
    background-color: #78a1ee;
}
.btn-trash-cart{
    padding: 5%;
    height: 50px;
    width: 50px;
    background-color: red;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.box-promo{
    background-color: rgb(71, 71, 71);
    height: 100%;
    width: 80%;
    margin: 2%;
    margin-left: 10%;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5%;
}
.box-promo img{
    height: 100%;
    width: 100%;
}
