body {
  margin: 0%;
  font-family: sans-serif;
  font-family: "Kreon", serif;
}

h1 {
  text-align: center;
  /*ketebalan font*/
  
}

.tulisan_login {
  text-align: center;
  /*membuat semua huruf menjadi kapital*/
  text-transform: uppercase;
}

.kotak_login {
  width: 350px;
  background: white;
  /*meletakkan form ke tengah*/
  margin: 80px auto;
  padding: 30px 20px;
  box-shadow: 0px 0px 100px 4px #d6d6d6;
}

label {
  font-size: 11pt;
}

.form_login {
  /*membuat lebar form penuh*/
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
  background-color: #d3d1d1;
}

.tombol_login {
  background: #2aa7e2;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.link {
  color: #180404;
  text-decoration: none;
  font-size: 12pt;
}

.alert {
  background: #e44e4e;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #b32929;
}
 
.container {
  border-collapse: collapse;
}

.kotak-form {
  background: rgb(255, 255, 255);
  /*meletakkan form ke tengah*/
  margin: 150px auto;
  padding: 30px 20px;
  box-shadow: 0px 0px 100px 4px #ffffff;
  color: #180404;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.kotak-form tr td {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 20pt;
  margin-bottom: 20px;
  background-color: #d3d1d1;
}

.kotak-form:nth-child(even) {
  background-color: #f2f2f2;
}

.header {
  margin-top: 0%;
  margin-bottom: 0%;
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: -webkit-sticky;
  position: fixed;
  z-index: 999;
}

.header button {
  margin: -60px 20px 0px 0px;
  float: right;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
}

.header button {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.header button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.header p {
  margin-top: -15px;
  color: #d3d1d1;
  width: 16%;
  background-color: #b32929;
  text-align: center;
  font-size: 25px;
  font-family: "Pacifico", cursive;
}

.menu {
  height: 600px;
  width: 15%;
  background-color: rgb(0, 0, 0);
  float: left;
  margin-top: 3.5%;
  position: -webkit-sticky;
  position: fixed;
}

.menu a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}


.menu div {
  margin: 5px;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 4px;
}

.menu div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu div a {
  text-decoration-line: none;
  color: #ffffff;
}

.menu div img {
  height: 20px;
  width: 20px;
}

.content {
  height: 100%;
  width: 84%;
  float: right;
}

.content h3 {
  font-size: 30px;
  font-family: "Francois One", sans-serif;
}

table {
  height: 100%;
  width: 100%;
}

.kotak {
  height: 70%;
  width: 50%;
  background-color: #f3eaea;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  box-shadow: #b32929;
}

.kotak-judul {
  background-color: #a7a7a7;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.kotak-user {
  width: 100%;
  height: 350px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

/* .kotak-user a {
    text-decoration-line: none;
    width: 40px;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    background-color: #312f2f;
} */

.input-style {
  height: 30px;
  width: 200px;
  background-color: rgba(187, 187, 187, 0.3);
  padding: 5px;
  margin: 2px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.button {
  height: 10px;
  width: 20px;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  bottom: 0%;
  position: absolute;
  position: -webkit-sticky;
  position: fixed;
  text-align: center;
  line-height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.button img {
  height: 20px;
  width: 20px;
}

.big-box {
  height: 120px;
  width: 60%;
  margin: 20px 0px 0px 200px;
  background-color: rgba(0, 0, 0, 0.3);
}

.box {
  align: center;
  font-size: 30px;
  height: 80px;
  width: 200px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 0 7px #222;
  -moz-box-shadow: 10px 0 7px #222;
  box-shadow: 10px 0 7px #222;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.big-box .box:hover {
  cursor: pointer;
  background-color: red;
}

.btn-submit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
}

.btn-submit:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.btn-rd {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-rd input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.btn-rd:hover input ~ .checkmark {
  background-color: rgb(92, 92, 92);
}

/* When the radio button is checked, add a blue background */
.btn-rd input:checked ~ .checkmark {
  background-color: rgb(28, 50, 97);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.btn-rd input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.btn-rd .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#home-left {
  float: left;
  height: 53%;
  width: 54%;
  background-image: url(../icon/home.jpg);
  background-size: 100%;
}

#home-left div{
    font-family: 'Yellowtail', cursive;
    font-size: 200%;
    color: rgb(146, 18, 18);
    margin: 32.1% auto;
    margin-left: 23%;
     text-shadow: 4px 4px 1px rgb(255, 255, 255);
     font-stretch: extra-expanded;
     font-weight: bold;
     
}

#home-right {
  background-color: #f1f8e9;
  float: right;
  height: 660px;
  width: 44.7%;
}

#home-login {
  margin: 1% auto;
  height: 50%;
  width: 100%;
}

.home-login-input {
  height: 25%;
  width: 35%;
  padding:2% 2%;
  margin: 1% 0;
  margin-left: 3%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
}

.home-login-input:focus {
  background-color: rgb(248, 253, 255);
  color: black;
}

#home-login-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 2% 3%;
  text-decoration: none;
  cursor: pointer;
   font-family: 'Roboto', sans-serif;
  font-size: 80%;
}

#home-login-btn:hover {
    background-color:rgba(187, 187, 187, 0.3);
    color: #4caf50;
}


#home-content {
  margin-left: 10%;
  text-align: center;
  height: 30%;
  width: 70%;
}

#home-content h3 {
  
  font-family: 'Kaushan Script', cursive;
  font-size: 500%;
  color: #b71c1c;
}

#home-content h2 {
    font-family: 'Fredoka One', cursive;
  font-size: 200%;
}

#home-content p {
  font-family: 'Amaranth', sans-serif;
}


.progress-bar {
    
    height: 25px;
    padding: 5px;
    width: 100%;
    margin: 20px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    text-align: center;
    padding:5px;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
     font-family: 'Roboto', sans-serif;
}